.carousel {
    height: 100% !important;
    margin: 0px !important;

    .carousel-indicators {

        .active {
            background-color: #ffbc06 !important;
            color: #ffbc06 !important;
        }
    }
}